/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v27-latin-regular.woff') format('woff');
  }
  /* gelasio-700 - latin */
  @font-face {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/gelasio-v4-latin-700.woff2') format('woff2'),
         url('../fonts/gelasio-v4-latin-700.woff') format('woff');
  }